apiversion: v2
name: onecx-product-store
version: 0.0.0
appversion: 0.0.0
dependencies:
- name: helm-product
  version: ^0
  repository: oci://ghcr.io/onecx/charts
  alias: product
- name: onecx-product-store-svc
  version: "*-0"
  repository: oci://ghcr.io/onecx/charts
  condition: "deployment.svc"
  alias: "svc"
- name: onecx-product-store-bff
  version: "*-0"
  repository: oci://ghcr.io/onecx/charts
  condition: "deployment.bff"
  alias: "bff"
- name: onecx-product-store-operator
  version: "*-0"
  repository: oci://ghcr.io/onecx/charts
  condition: "deployment.product-operator"
  alias: "operator"
- name: onecx-product-store-mfe-operator
  version: "*-0"
  repository: oci://ghcr.io/onecx/charts
  condition: "deployment.mfeOperator"
  alias: "mfeOperator"
- name: onecx-product-store-ms-operator
  version: "*-0"
  repository: oci://ghcr.io/onecx/charts
  condition: "deployment.msOperator"
  alias: "msOperator"  
- name: onecx-product-store-ui
  version: "*-0"
  repository: oci://ghcr.io/onecx/charts
  condition: "deployment.ui"
  alias: "ui"
